In [51]:
import pandas as pd
import numpy as np

### Import Dataset

In [123]:
df = pd.read_csv("Data/clean_movie_data.csv")
df.head()

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_19396/3469186107.py:1: DtypeWarning: Columns (1,2,4,5,18,19,20,21,23,25,27,28,29,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Data/clean_movie_data.csv")

,Unnamed: 0,adult,budget,original_language,popularity,release_date,status,vote_average,vote_count,movieId,...,genre_Telescene Film Group Productions,genre_The Cartel,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western,revenue,runtime,release_year,movie_title
0,0,False,30000000,en,21.946943,1995-10-30,Released,7.7,5415.0,NaN,...,0,0,0,0,0,0,373554033.0,81.0,1995.0,Toy Story
1,1,False,65000000,en,17.015539,1995-12-15,Released,6.9,2413.0,NaN,...,0,0,0,0,0,0,262797249.0,104.0,1995.0,Jumanji
2,2,False,0,en,11.7129,1995-12-22,Released,6.5,92.0,NaN,...,0,0,0,0,0,0,0.0,101.0,1995.0,Grumpier Old Men
3,3,False,16000000,en,3.859495,1995-12-22,Released,6.1,34.0,NaN,...,0,0,0,0,0,0,81452156.0,127.0,1995.0,Waiting to Exhale
4,4,False,0,en,8.387519,1995-02-10,Released,5.7,173.0,NaN,...,0,0,0,0,0,0,76578911.0,106.0,1995.0,Father of the Bride Part II

In [53]:
df.shape

(1306179, 75)

In [54]:
df.columns

Index(['Unnamed: 0', 'adult', 'budget', 'original_language', 'popularity',
       'release_date', 'status', 'vote_average', 'vote_count', 'movieId',
       'certificate', 'rating', 'director', 'director_id', 'star', 'star_id',
       'votes', 'collection_id', 'collection_name', 'spoken_language_1',
       'spoken_language_2', 'production_company_1_name',
       'production_company_1_id', 'production_company_2_name',
       'production_company_2_id', 'production_company_3_name',
       'production_company_3_id', 'production_country_1_name',
       'production_country_2_name', 'production_country_3_name',
       'genre_Action', 'genre_Adult', 'genre_Adventure', 'genre_Animation',
       'genre_Aniplex', 'genre_BROSTA TV', 'genre_Biography',
       'genre_Carousel Productions', 'genre_Comedy', 'genre_Crime',
       'genre_Documentary', 'genre_Drama', 'genre_Family', 'genre_Fantasy',
       'genre_Film-Noir', 'genre_Foreign', 'genre_Game-Show', 'genre_GoHands',
       'genre_History', 'genre_Horror',
       'genre_Mardock Scramble Production Committee', 'genre_Music',
       'genre_Musical', 'genre_Mystery', 'genre_News', 'genre_Odyssey Media',
       'genre_Pulser Productions', 'genre_Reality-TV', 'genre_Rogue State',
       'genre_Romance', 'genre_Sci-Fi', 'genre_Science Fiction',
       'genre_Sentai Filmworks', 'genre_Sport', 'genre_TV Movie',
       'genre_Telescene Film Group Productions', 'genre_The Cartel',
       'genre_Thriller', 'genre_Vision View Entertainment', 'genre_War',
       'genre_Western', 'revenue', 'runtime', 'release_year', 'movie_title'],
      dtype='object')

In [55]:
interesting_columns = ['adult', 'budget', 'original_language', 'popularity', 'release_date', 'status', 
                       'rating', 'vote_average', 'vote_count', 'certificate', 'director', 'director_id',
                       'star', 'star_id', 'votes', 'revenue', 'runtime', 'release_year']

genre_columns = ['genre_Action', 'genre_Adult', 'genre_Adventure', 'genre_Animation',
       'genre_Aniplex', 'genre_BROSTA TV', 'genre_Biography',
       'genre_Carousel Productions', 'genre_Comedy', 'genre_Crime',
       'genre_Documentary', 'genre_Drama', 'genre_Family', 'genre_Fantasy',
       'genre_Film-Noir', 'genre_Foreign', 'genre_Game-Show', 'genre_GoHands',
       'genre_History', 'genre_Horror',
       'genre_Mardock Scramble Production Committee', 'genre_Music',
       'genre_Musical', 'genre_Mystery', 'genre_News', 'genre_Odyssey Media',
       'genre_Pulser Productions', 'genre_Reality-TV', 'genre_Rogue State',
       'genre_Romance', 'genre_Sci-Fi', 'genre_Science Fiction',
       'genre_Sentai Filmworks', 'genre_Sport', 'genre_TV Movie',
       'genre_Telescene Film Group Productions', 'genre_The Cartel',
       'genre_Thriller', 'genre_Vision View Entertainment', 'genre_War',
       'genre_Western']

all_columns = interesting_columns + genre_columns

In [56]:
df[interesting_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306179 entries, 0 to 1306178
Data columns (total 18 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   adult              1306157 non-null  object
 1   budget             1306157 non-null  object
 2   original_language  1306145 non-null  object
 3   popularity         1306152 non-null  object
 4   release_date       1083710 non-null  object
 5   status             1306069 non-null  object
 6   rating             732552 non-null   float64
 7   vote_average       1306151 non-null  float64
 8   vote_count         1306151 non-null  float64
 9   certificate        332166 non-null   object
 10  director           1151279 non-null  object
 11  director_id        1151279 non-null  object
 12  star               1040268 non-null  object
 13  star_id            1070897 non-null  object
 14  votes              732603 non-null   float64
 15  revenue            1306153 non-null  float64
 16  runtime            1252260 non-null  object
 17  release_year       1270253 non-null  object
dtypes: float64(5), object(13)
memory usage: 179.4+ MB

### Check Any Missing Values

In [57]:
df[interesting_columns].isna().sum()

adult                    22
budget                   22
original_language        34
popularity               27
release_date         222469
status                  110
rating               573627
vote_average             28
vote_count               28
certificate          974013
director             154900
director_id          154900
star                 265911
star_id              235282
votes                573576
revenue                  26
runtime               53919
release_year          35926
dtype: int64

### Data Type Transformation

In [58]:
adult = np.logical_or(df['adult'] == True, df['adult'] == 'True')

df['adult'] = adult

In [59]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

In [60]:
null_budget = df['budget'].isna()
df = df.drop(index=df[null_budget].index)

In [61]:
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce')

In [62]:
null_pupularity = df['popularity'].isna()
df = df.drop(index=df[null_pupularity].index)

In [63]:
df.shape

(1306151, 75)

In [64]:
df[df['runtime'].str.contains("min", na=False)]['runtime'].shape

(94587,)

In [65]:
df['runtime'] = df['runtime'].map(str)
df['runtime'] = df['runtime'].str.replace("min", "")
df['runtime'] = df['runtime'].str.replace(",", "")
df['runtime'] = pd.to_numeric(df['runtime'], errors="coerce")

In [66]:
df['release_year'] = pd.to_numeric(df['release_year'], errors='coerce')

In [67]:
null_reselase_year = df['release_year'].isna()
df = df.drop(index=df[null_reselase_year].index)

In [68]:
df[interesting_columns].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1262692 entries, 0 to 1306156
Data columns (total 18 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   adult              1262692 non-null  bool
 1   budget             1262692 non-null  float64
 2   original_language  1262680 non-null  object
 3   popularity         1262692 non-null  float64
 4   release_date       1083710 non-null  object
 5   status             1262611 non-null  object
 6   rating             732522 non-null   float64
 7   vote_average       1262692 non-null  float64
 8   vote_count         1262692 non-null  float64
 9   certificate        331741 non-null   object
 10  director           1125745 non-null  object
 11  director_id        1125745 non-null  object
 12  star               1028339 non-null  object
 13  star_id            1056766 non-null  object
 14  votes              732573 non-null   float64
 15  revenue            1262692 non-null  float64
 16  runtime            1208793 non-null  float64
 17  release_year       1262692 non-null  float64
dtypes: bool(1), float64(9), object(8)
memory usage: 174.6+ MB

In [69]:
df.shape

(1262692, 75)

### Exploratory Data Analysis

In [70]:
### Check the missing values, since it will affect some statistics.
df[interesting_columns].isna().sum()

adult                     0
budget                    0
original_language        12
popularity                0
release_date         178982
status                   81
rating               530170
vote_average              0
vote_count                0
certificate          930951
director             136947
director_id          136947
star                 234353
star_id              205926
votes                530119
revenue                   0
runtime               53899
release_year              0
dtype: int64

In [71]:
# Check possible incorrect data
df[interesting_columns].describe()

,budget,popularity,rating,vote_average,vote_count,votes,revenue,runtime,release_year
count,1.262692e+06,1.262692e+06,732522.000000,1.262692e+06,1.262692e+06,7.325730e+05,1.262692e+06,1.208793e+06,1.262692e+06
mean,3.311379e+05,9.106868e-01,5.726692,4.204739e+00,1.165841e+01,1.359401e+04,4.101961e+05,7.405316e+01,1.999435e+03
std,3.470690e+06,1.818036e+00,1.354367,3.287193e+00,9.770471e+01,7.744286e+04,1.253826e+07,5.020367e+01,1.600838e+01
min,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00,1.874000e+03
25%,0.000000e+00,3.529400e-02,4.900000,0.000000e+00,0.000000e+00,2.900000e+01,0.000000e+00,3.800000e+01,1.993000e+03
50%,0.000000e+00,2.024680e-01,5.800000,5.000000e+00,2.000000e+00,1.320000e+02,0.000000e+00,8.700000e+01,2.004000e+03
75%,0.000000e+00,1.116784e+00,6.600000,6.600000e+00,5.000000e+00,1.015000e+03,0.000000e+00,1.000000e+02,2.009000e+03
max,3.800000e+08,5.474883e+02,10.000000,1.000000e+01,1.407500e+04,2.675531e+06,2.787965e+09,2.160000e+03,2.029000e+03

In [72]:
total = df.shape[0]

In [73]:
# 0 in Budget, revenue, and runtime doesn't make sense.
zero_budget = df['budget'] == 0
df[zero_budget].shape

(1119908, 75)

#### Why budget data is zero?
- Data is not available.
- The budget is really low.

In [74]:
df[interesting_columns][zero_budget].describe()

,budget,popularity,rating,vote_average,vote_count,votes,revenue,runtime,release_year
count,1119908.0,1.119908e+06,646174.000000,1.119908e+06,1.119908e+06,6.462190e+05,1.119908e+06,1.066019e+06,1.119908e+06
mean,0.0,9.548355e-01,5.726765,4.108424e+00,9.122577e+00,1.359797e+04,2.125168e+04,6.997332e+01,2.000305e+03
std,0.0,1.462147e+00,1.354435,3.475364e+00,1.805697e+01,7.745270e+04,1.139778e+06,5.203079e+01,1.567686e+01
min,0.0,0.000000e+00,1.000000,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00,1.874000e+03
25%,0.0,9.226000e-03,4.900000,0.000000e+00,0.000000e+00,2.900000e+01,0.000000e+00,0.000000e+00,1.995000e+03
50%,0.0,4.144740e-01,5.800000,6.300000e+00,2.000000e+00,1.320000e+02,0.000000e+00,8.200000e+01,2.005000e+03
75%,0.0,1.233673e+00,6.600000,6.800000e+00,1.200000e+01,1.015000e+03,0.000000e+00,1.000000e+02,2.009000e+03
max,0.0,6.795505e+01,10.000000,1.000000e+01,1.730000e+03,2.675531e+06,3.552983e+08,2.160000e+03,2.029000e+03

#### According to the statistics of zero-budget movies. Most movies are
- Really low popularity.
- Low vote counts which means that only a few people watch them.
- Low revenue.

#### Conclusion
- Instead of removing them, I convert the column into categorical column and put them into the low-budget category.

In [75]:
# Categorizing budget column.

def budget_category(value):
    high = 40000000
    mid = 4500000

    if value > high:
        return 'high'
    elif value > mid:
        return 'mid'
    else:
        return 'low'

In [76]:
df['budget_class'] = df['budget'].map(budget_category)
interesting_columns.append('budget_class')
df[interesting_columns]

,adult,budget,original_language,popularity,release_date,status,rating,vote_average,vote_count,certificate,director,director_id,star,star_id,votes,revenue,runtime,release_year,budget_class
0,False,30000000.0,en,21.946943,1995-10-30,Released,NaN,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,373554033.0,81.0,1995.0,mid
1,False,65000000.0,en,17.015539,1995-12-15,Released,NaN,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,262797249.0,104.0,1995.0,high
2,False,0.0,en,11.712900,1995-12-22,Released,NaN,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,101.0,1995.0,low
3,False,16000000.0,en,3.859495,1995-12-22,Released,NaN,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,81452156.0,127.0,1995.0,mid
4,False,0.0,en,8.387519,1995-02-10,Released,NaN,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,76578911.0,106.0,1995.0,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306151,False,0.0,en,5.683753,1991-05-13,Released,NaN,5.7,26.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,104.0,1991.0,low
1306153,False,0.0,tl,0.178241,2011-11-17,Released,NaN,9.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,360.0,2011.0,low
1306154,False,0.0,en,0.903007,2003-08-01,Released,NaN,3.8,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,90.0,2003.0,low
1306155,False,0.0,en,0.003503,1917-10-21,Released,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,87.0,1917.0,low
1306156,False,0.0,en,0.163015,2017-06-09,Released,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,75.0,2017.0,low

In [77]:
zero_revenue = df['revenue'] == 0

In [78]:
df[interesting_columns][zero_revenue].describe()

,budget,popularity,rating,vote_average,vote_count,votes,revenue,runtime,release_year
count,1.255186e+06,1.255186e+06,732031.000000,1.255186e+06,1.255186e+06,7.320820e+05,1255186.0,1.201293e+06,1.255186e+06
mean,1.978310e+05,8.648228e-01,5.726679,4.192703e+00,8.369830e+00,1.360020e+04,0.0,7.384316e+01,1.999434e+03
std,9.542235e+05,1.408579e+00,1.354521,3.292356e+00,1.708496e+01,7.746035e+04,0.0,5.026098e+01,1.601149e+01
min,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.000000e+00,5.000000e+00,0.0,0.000000e+00,1.874000e+03
25%,0.000000e+00,3.529400e-02,4.900000,0.000000e+00,0.000000e+00,2.900000e+01,0.0,3.800000e+01,1.993000e+03
50%,0.000000e+00,2.024680e-01,5.800000,5.000000e+00,2.000000e+00,1.320000e+02,0.0,8.700000e+01,2.004000e+03
75%,0.000000e+00,1.116784e+00,6.600000,6.600000e+00,5.000000e+00,1.016000e+03,0.0,1.000000e+02,2.009000e+03
max,1.500000e+08,7.880720e+01,10.000000,1.000000e+01,1.730000e+03,2.675531e+06,0.0,2.160000e+03,2.029000e+03

In [79]:
df[interesting_columns][zero_revenue].describe()

,budget,popularity,rating,vote_average,vote_count,votes,revenue,runtime,release_year
count,1.255186e+06,1.255186e+06,732031.000000,1.255186e+06,1.255186e+06,7.320820e+05,1255186.0,1.201293e+06,1.255186e+06
mean,1.978310e+05,8.648228e-01,5.726679,4.192703e+00,8.369830e+00,1.360020e+04,0.0,7.384316e+01,1.999434e+03
std,9.542235e+05,1.408579e+00,1.354521,3.292356e+00,1.708496e+01,7.746035e+04,0.0,5.026098e+01,1.601149e+01
min,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.000000e+00,5.000000e+00,0.0,0.000000e+00,1.874000e+03
25%,0.000000e+00,3.529400e-02,4.900000,0.000000e+00,0.000000e+00,2.900000e+01,0.0,3.800000e+01,1.993000e+03
50%,0.000000e+00,2.024680e-01,5.800000,5.000000e+00,2.000000e+00,1.320000e+02,0.0,8.700000e+01,2.004000e+03
75%,0.000000e+00,1.116784e+00,6.600000,6.600000e+00,5.000000e+00,1.016000e+03,0.0,1.000000e+02,2.009000e+03
max,1.500000e+08,7.880720e+01,10.000000,1.000000e+01,1.730000e+03,2.675531e+06,0.0,2.160000e+03,2.029000e+03

#### Checking statistics of movies with 0 revenue.
- Their popularity are low.
- Low vote counts which means that not a lot of people watch them.
- Zero budgets (I consider them as low budget.)
- Low ratings.

#### Conclusion
Since no movies should have zero revenue, I will just classified them as low-income movies.

In [80]:
# # Categorizing revenue column.

# def revenue_category(value):
#     t1 = 

#     if value > high:
#         return 'high'
#     elif value > mid:
#         return 'mid'
#     else:
#         return 'low'

In [81]:
df['revenue'].describe()

count    1.262692e+06
mean     4.101961e+05
std      1.253826e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.787965e+09
Name: revenue, dtype: float64

In [82]:
revenue_classes, c = pd.cut(df['revenue'], 6, labels=[0, 1, 2, 3, 4, 5], retbins = True)

In [83]:
revenue_classes.unique()

[0, 1, 3, 2, 5, 4]
Categories (6, int64): [0 < 1 < 2 < 3 < 4 < 5]

In [84]:
c

array([-2.78796509e+06,  4.64660848e+08,  9.29321696e+08,  1.39398254e+09,
        1.85864339e+09,  2.32330424e+09,  2.78796509e+09])

In [85]:
zero_runtime = df['runtime'] == 0
df[zero_runtime].shape

(283571, 76)

In [86]:
# Since there is not excuse for zero runtime movies. I will remove them outright.
df = df.drop(index=df[zero_runtime].index)

In [87]:
df.shape

(979121, 76)

In [88]:
df[interesting_columns].isna().sum()

adult                     0
budget                    0
original_language        11
popularity                0
release_date         119322
status                   64
rating               418233
vote_average              0
vote_count                0
certificate          724919
director             114962
director_id          114962
star                 190786
star_id              168829
votes                418194
revenue                   0
runtime               53899
release_year              0
budget_class              0
dtype: int64

In [89]:
df['profit'] = df['revenue'] - df['budget']
interesting_columns.append('profit')
df['profit'].describe()

count    9.791210e+05
mean     1.019517e+05
std      1.150219e+07
min     -1.657101e+08
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.550965e+09
Name: profit, dtype: float64

In [90]:
df.describe()

,Unnamed: 0,budget,popularity,vote_average,vote_count,movieId,rating,votes,collection_id,production_company_1_id,...,genre_Telescene Film Group Productions,genre_The Cartel,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western,revenue,runtime,release_year,profit
count,9.791210e+05,9.791210e+05,979121.000000,979121.000000,979121.000000,3837.000000,560888.000000,5.609270e+05,152714.000000,478282.000000,...,979121.0,979121.0,979121.000000,979121.0,979121.000000,979121.000000,9.791210e+05,925222.000000,979121.000000,9.791210e+05
mean,5.856945e+05,4.268591e+05,1.055600,4.378324,14.720608,93723.325775,5.726806,1.358496e+04,161269.686093,3523.604144,...,0.0,0.0,0.217365,0.0,0.019073,0.014823,5.288108e+05,96.749688,1999.968295,1.019517e+05
std,3.827596e+05,3.935996e+06,2.026042,2.985893,110.761597,55560.607909,1.354053,7.741394e+04,87816.464912,5599.835628,...,0.0,0.0,0.412453,0.0,0.136783,0.120846,1.423614e+07,33.121050,16.905285,1.150219e+07
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,71.000000,1.000000,5.000000e+00,10.000000,1.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000e+00,1.000000,1874.000000,-1.657101e+08
25%,2.457870e+05,0.000000e+00,0.067063,0.000000,0.000000,48165.000000,4.900000,2.900000e+01,75014.000000,528.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000e+00,78.000000,1991.000000,0.000000e+00
50%,5.149910e+05,0.000000e+00,0.202468,6.300000,3.000000,101581.000000,5.800000,1.320000e+02,140910.000000,2832.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000e+00,98.000000,2006.000000,0.000000e+00
75%,9.115820e+05,0.000000e+00,1.233673,6.600000,12.000000,141014.000000,6.600000,1.014000e+03,246207.000000,5747.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000e+00,109.000000,2011.000000,0.000000e+00
max,1.306156e+06,3.800000e+08,547.488298,10.000000,14075.000000,176231.000000,10.000000,2.675531e+06,480160.000000,96067.000000,...,0.0,0.0,1.000000,0.0,1.000000,1.000000,2.787965e+09,2160.000000,2029.000000,2.550965e+09

In [91]:
df[interesting_columns].isna().sum()

adult                     0
budget                    0
original_language        11
popularity                0
release_date         119322
status                   64
rating               418233
vote_average              0
vote_count                0
certificate          724919
director             114962
director_id          114962
star                 190786
star_id              168829
votes                418194
revenue                   0
runtime               53899
release_year              0
budget_class              0
profit                    0
dtype: int64

In [96]:
df['profit_percent'] = (df['profit'] / (df['budget'] + 0.00001)) * 100
interesting_columns.append('profit_percent')

In [97]:
df[df['profit_percent'] < 0]['profit_percent']

6         -100.000000
13         -68.905080
14         -89.778243
19         -40.948145
22         -39.393856
              ...
1306086   -100.000000
1306091   -100.000000
1306097   -100.000000
1306101    -36.560350
1306111    -71.740000
Name: profit_percent, Length: 138907, dtype: float64

In [98]:
# Categorizing movie classes.
# reference: https://balusboxoffice.quora.com/Classification-of-Movies-as-Hits-Superhits-Blockbusters-Flops

def classify_movie(profit):
    all_time_blockbuster = 125
    blockbuster = 75
    super_hit = 40
    hit = 25
    above_average = 10
    average = 0
    below_avg = -15
    flop = -40
    # disaster less than -40

    if profit > all_time_blockbuster:
        return 'all_time_blockbuster'
    elif profit > blockbuster:
        return 'blockbuster'
    elif profit > super_hit:
        return 'super_hit'
    elif profit > hit:
        return 'hit'
    elif profit > above_average:
        return 'above_average'
    elif profit > average:
        return 'average'
    elif profit > below_avg:
        return 'below_avg'
    elif profit > flop:
        return 'flop'
    else:
        return 'disaster'

In [118]:
df['movie_class'] = df['profit_percent'].apply(classify_movie)
interesting_columns.append('movie_class')

In [119]:
all_time_blockbuster = df['profit_percent'] > 125
blockbuster = df['profit_percent'] > 75
super_hit = df['profit_percent'] > 40
hit = df['profit_percent'] > 25
above_average = df['profit_percent'] > 10
average = df['profit_percent'] > 0
below_avg = df['profit_percent'] > -15
flop = df['profit_percent'] > -40
disaster = df['profit_percent'] < -40
df[disaster]['movie_class'].unique()

array(['disaster'], dtype=object)

In [122]:
df[interesting_columns]

,adult,budget,original_language,popularity,release_date,status,rating,vote_average,vote_count,certificate,...,star,star_id,votes,revenue,runtime,release_year,budget_class,profit,profit_percent,movie_class
0,False,30000000.0,en,21.946943,1995-10-30,Released,NaN,7.7,5415.0,NaN,...,NaN,NaN,NaN,373554033.0,81.0,1995.0,mid,343554033.0,1.145180e+03,all_time_blockbuster
1,False,65000000.0,en,17.015539,1995-12-15,Released,NaN,6.9,2413.0,NaN,...,NaN,NaN,NaN,262797249.0,104.0,1995.0,high,197797249.0,3.043035e+02,all_time_blockbuster
2,False,0.0,en,11.712900,1995-12-22,Released,NaN,6.5,92.0,NaN,...,NaN,NaN,NaN,0.0,101.0,1995.0,low,0.0,0.000000e+00,below_avg
3,False,16000000.0,en,3.859495,1995-12-22,Released,NaN,6.1,34.0,NaN,...,NaN,NaN,NaN,81452156.0,127.0,1995.0,mid,65452156.0,4.090760e+02,all_time_blockbuster
4,False,0.0,en,8.387519,1995-02-10,Released,NaN,5.7,173.0,NaN,...,NaN,NaN,NaN,76578911.0,106.0,1995.0,low,76578911.0,7.657891e+14,all_time_blockbuster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306151,False,0.0,en,5.683753,1991-05-13,Released,NaN,5.7,26.0,NaN,...,NaN,NaN,NaN,0.0,104.0,1991.0,low,0.0,0.000000e+00,below_avg
1306153,False,0.0,tl,0.178241,2011-11-17,Released,NaN,9.0,3.0,NaN,...,NaN,NaN,NaN,0.0,360.0,2011.0,low,0.0,0.000000e+00,below_avg
1306154,False,0.0,en,0.903007,2003-08-01,Released,NaN,3.8,6.0,NaN,...,NaN,NaN,NaN,0.0,90.0,2003.0,low,0.0,0.000000e+00,below_avg
1306155,False,0.0,en,0.003503,1917-10-21,Released,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,87.0,1917.0,low,0.0,0.000000e+00,below_avg
1306156,False,0.0,en,0.163015,2017-06-09,Released,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,75.0,2017.0,low,0.0,0.000000e+00,below_avg